<form action="/api/users" method="post">


    <input type="text" name="username" placeholder="username" />
    <br>
    <input type="text" name="facebook" placeholder="facebook" />
    <br>
    <input type="text" name="github" placeholder="github" />
    <br>
    <input type="text" name="email" placeholder="email" />
    <br>
    <input type="password" name="password" placeholder="" value="password" />

    <button type="submit" class="button is-dark is-pulled-middle">Create Account</button>


</form>